{% extends 'base.html' %}
{% block body1 %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-dialog" style="width: 400px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2 class="modal-title" style="font-size: 30px">Добавление новой книги</h2>
                        </div>
                        <div class="modal-body">
                            <form method="POST" enctype="multipart/form-data">
                                <div class="add-form container">
                                    {% csrf_token %}
                                    <div class="course_add">
                                        <label for="id_name_book">Название книги:</label>
                                        <div class="data-and-error">
                                            <input type="text" name="name_book" maxlength="100" required
                                                   id="id_name_book"/>
                                        </div>
                                    </div>
                                    <div class="course_add">
                                        <label for="id_genre_book">Жанр:</label>
                                        <div class="data-and-error">
                                            <input type="text" name="genre_book" maxlength="100" required
                                                   id="id_genre_book"/>
                                        </div>
                                    </div>
                                    <div class="course_add">
                                        <label for="id_photo">Фото:</label>
                                        <div class="data-and-error">
                                            <input type="file" name="photo" id="id_photo"/>
                                        </div>
                                    </div>
                                    <div class="course_add">
                                        <label for="id_writer_book">Автор:</label>
                                        <div class="data-and-error">
                                            <input type="text" name="writer_book" maxlength="100" required
                                                   id="id_genre_book"/>
                                        </div>
                                    </div>
                                    <div class="course_add">
                                        <label for="id_year_book">Год написания:</label>
                                        <div class="data-and-error">
                                            <input type="text" name="year_book" maxlength="100" required
                                                   id="id_year_book"/>
                                        </div>
                                    </div>
                                    <br><button type="submit" id="btn_add" style="margin-left: 5%">Добавить книгу</button>
                                    <br>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
          </div>
      </div>
    </div>
<div id="header1">
    <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 style="font-size: 60px">Книги</h1>
                <div al-app  al-init="count=5" @scroll.debounce-50="($element.scrollTop > $element.scrollHeight - $element.clientHeight - 150)?count++:0" class="body">
                <div al-repeat="n in count">
                {% for Book in book_list %}
                    <div class="infinite-container">
                    <div class="infinite-item">
                    <tr>
                        <td> <a href="{% url 'book_id_url' Book.id_book%}">{{Book.name_book}} </a></td>
                        {% if Book.photo %}
                        <td><a href="{% url 'book_id_url' Book.id_book%}"><img src="{{Book.photo.url}}" width="300" height="380"></a></td>
                        {% endif %}
                    </tr>
                    </div>
                    </div>
                {% endfor %}
                </div>
            </div>
  </div>
            <button type="button" class="btn ui-button-icon-primary" data-toggle="modal" data-target="#myModal">Добавить книгу</button>
</div>
        </div>
</div>
{% endblock %}
