{% extends 'base.html' %}

{% block body1 %}
    <div id="header1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1><br>Таблица читатели<br></h1>
                <table class="table table-hover table-inverse">
                <tr>
                    <th>Username</th>
                    <td>Имя</td>
                    <td>Фамилия</td>
                </tr>
                {% for User in object_list %}
                    <tr >
                        <th scope="row">{{User.username}}</th>
                        <td> {{User.first_name}} </td>
                        <td>{{User.last_name}}</td>
                    </tr>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
