{% extends 'base.html' %}

{% block body1 %}
    <div id="body1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h6><br>Авторизация прошла успешно!<br></h6>
                    <h2>Ещё чуть-чуть, и Вы будете перенаправлены на главную страницу<br></h2>
                    <meta http-equiv="refresh" content="2; url=/main/">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
